<br>
<h1>Vereinsmitglieder</h1>
<br><br><br>
<div id="membersSite">
<!-- <div class="member-container"> -->

{{#each AllMembers}}
<div >  
   <h1>{{this.memberrole}}</h1>
   <h2> {{this.firstname}} {{this.lastname}} </h2>
   <br>
   <img src="{{this.imageUrl}}">
   <!-- <p><h3> Rolle seit {{this.rolesince}}</h3>  </p> -->
   <p><h3> Email-Adresse: {{this.email}}</h3>  </p>
   
</div>
<br><br><br>
   {{/each}}

</div>
<br>