<div id="signup">
<h1>Veranstaltungen</h1>

{{#if allEvents}}
<table>
    {{#each allEvents}}
    <thead> nächste Termine </thead>
    <tr>
    <th>Name der Veranstaltung</th>
    <th>Beschreibung</th>
    <th>Datum der Veranstaltung</th>
    <th>Ort</th>
    <th>Kategorie</th>
  </tr>
        <tr>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{formattedDate}}</td>
            <td>{{place}}</td>
            <td>{{art}}</td>
        </tr>
    {{/each}}
</table>

{{else}}
    <h3>No events found!</h3>
{{/if}}


</div>