<div id="signup">
<h1>Aktuelle Vereinsmitglieder</h1>

<!-- {{#if allMembers}} -->
<!-- <table>
    <th>Name</th>
    <th></th>
    <th>Email</th>
    <th>Rolle</th>
    <th>Rolle seit</th>
    <th>age</th> -->
 {{#each AllMembers}}
   
   <h2> {{this.firstname}} {{this.lastname}}, {{this.memberrole}} </h2>
   <br>
   <!-- img src="{{this.imageUrl}}" -->
   <p><h3> Rolle seit {{this.rolesince}}</h3>  </p>
   <p><h3> Email-Adresse: {{this.email}}</h3>  </p>
   <p><h3> Alter: {{this.age}}</h3> </p>
   <hr>
   {{/each}}
      
        <!--ul>
            {{#each allMembers}}
            <li>{{firstname}} {{lastname}}</li>
            <li>{{email}}</li>
            <li>{{memberrole}}</li>
            <li>{{rolesince}}</li>
            <li>{{age}}</td>
        </--ul>
    {{/each}}
<!-- </table> -->

<!-- {{else}}
    <h3>No members found!</h3>
     {{/if}} -->


</div>