<br><br>
<a href="/private/service">Zurück</a>

<div>
{{#if allManuals}}
{{#each allManuals}}
<div>
<h2>{{this.title}}</h2>
<p><strong>Zeitaufwand</strong> <i>{{this.duration}}</i> Stunden</p>
<p><strong>Benötigte Utensilien </strong><i>{{this.tools}}</i></p>
{{#if this.ingredients}}
<p><strong>Notwendige Zutaten</strong> <i>{{this.ingredients}}</i></p>
{{/if}}
<p><strong>Schwierigkeitsrad</strong> <i>{{this.level}}</i></p>
<textarea cols="100" rows="20" readonly>{{this.description}}</textarea>
</div>

{{/each}}

</div>
{{else}}
<h1>Keine Anleitung vorhanden !!!</h1>
{{/if}}

