<h1>User Account</h1>
<a href="/private/abbrechen">Zurück</a>
<div>
<form action="">
<label for="firstname">Vorname:</label>
<input name="firstname" value="{{user.firstname}}" disabled>
<br><br>
<label for="lastname">Nachname</label>
<input name="lastname" value="{{user.lastname}}" disabled>
<br><br>
<label for="username">Username</label>
<input name="username" value="{{user.username}}" disabled>
<br><br>
<label for="email">Email</label>
<input name="email" value="{{user.email}}" disabled>
<br><br>
<label for="address">Adresse</label>
<textarea name="address" disabled>{{user.address}}</textarea>
</form>

<div>
  <h3>Meine Anleitungen</h3>
  
<table id="myTable">
  <tr>
    <th>Titel</th>
    <th>Kategorie</th>
    <th>Bearbeiten</th>
   </tr>
  {{#each manuals}}
        <tr>
            <td>{{title}}</td>
            <td>{{this.category}}</td>
            <td><a href="/private/service/{{this._id}}/edit">Bearbeiten</a></td>
        </tr>
    {{/each}}
</table>
</div>
</div>